* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(226, 225, 225);
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  height: 65px;
}

.trybewarts-header-logo {
  padding: 7px;
}

.trybewarts-login {
  display: flex;
  padding: 20px;
  gap: 5px;
  border-radius: 75%;
  justify-content: space-between;
}

#evaluation-form h3 {
  display: flex;
  font-size: x-large;
  align-self: center;
  justify-content: space-between;
  padding: 20px;
  font-family: Lucida Sans, Lucida Sans Regular, Lucida Grande,
    Lucida Sans Unicode, Geneva, Verdana, sans-serif;
}

.trybewarts-login button {
  background-color: rgb(18, 8, 110);
  color: white;
  border-radius: 10%;
  width: 100px;
  flex-grow: 2;
}

#trybewarts-header-title {
  text-align: center;
  color: white;
  display: flex;
  align-self: center;
}

#evaluation-form {
  justify-content: space-between;
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
  display: flex;
}

.nome-sobrenome {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.email-casa {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.familia-conteudo {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.escolherFamilia {
  display: flex;
  padding: 10px;
  gap: 10px;
  flex-direction: column;
}

.escolherConteudo {
  display: flex;
  padding: 10px;
  gap: 10px;
  flex-direction: column;
  justify-content: space-evenly;
}

.avaliaTrybe {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

#label-rate {
  margin-bottom: 20px;
}

#submit-btn {
  display: flex;
  color: white;
  background-color: rgb(18, 8, 110);
  flex-grow: 1;
  text-align: center;
  margin-top: 20px;
}

#label-infos {
  margin-top: 30px;
  margin-bottom: 10px;
}

#textarea {
  margin-bottom: 20px;
}

#footer {
  text-align: center;
  background-color: rgb(50, 167, 145);
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;
}
