* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(226, 225, 225);
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3%;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  height: 65px;
}

.trybewarts-header-logo {
  padding: 7px;
}

.trybewarts-login {
  display: flex;
  padding: 20px;
  gap: 5px;
}

.trybewarts-login input {
  border: 1px solid #555;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 8px;
  width: 35%;
}

.trybewarts-login button {
  display: flex;
  background-color: rgb(18, 8, 110);
  padding: 15px;
  color: white;
  flex-grow: 1;
  border: none;
  border-radius: 8px;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

#evaluation-form h3 {
  display: flex;
  font-size: xx-large;
  align-self: center;
  justify-content: space-between;
  padding: 15px;
  font-family: Lucida Sans, Lucida Sans Regular, Lucida Grande,
    Lucida Sans Unicode, Geneva, Verdana, sans-serif;
}

#trybewarts-header-title {
  text-align: center;
  color: white;
  display: flex;
  align-self: center;
}

#evaluation-form {
  justify-content: space-between;
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
  display: flex;
}

.nome-sobrenome {
  display: flex;
  gap: 10px;
  padding: 10px;
  justify-content: center;
}

.nome-sobrenome input {
  padding: 8px;
  border-radius: 8px;
}

.email-casa input {
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.email-casa select {
  background-color: #f1f1f1;
  width: 20%;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.email-casa {
  display: flex;
  gap: 20px;
  padding: 10px;
  justify-content: center;
}

.familia-conteudo {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.escolherFamilia {
  display: flex;
  padding: 10px;
  gap: 10px;
  flex-direction: column;
}

.escolherConteudo {
  display: flex;
  padding: 10px;
  gap: 10px;
  flex-direction: column;
}

.avaliaTrybe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

#label-rate {
  margin-bottom: 20px;
}

#label-family {
  margin-bottom: 10px;
}

#label-content {
  margin-bottom: 10px;
}
.caixadetexto textarea {
  padding:10px;
  margin-top: 10px;
  border-radius: 6px;
}

#submit-btn {
  display: flex;
  color: white;
  background-color: rgb(18, 8, 110);
  margin-top: 20px;
  cursor: pointer;
  padding: 8px;
  border-radius: 10px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

#label-infos {
  margin-top: 30px;
  margin-bottom: 10px;
}

#textarea {
  margin-bottom: 20px;
}

#footer {
  text-align: center;
  background-color: rgb(50, 167, 145);
  color: white;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  margin-top: 30px;
}
